@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove arrows on number inputs https://stackoverflow.com/questions/71296535/how-to-remove-arrow-on-input-type-number-with-tailwind-css */
@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}



/* Scrollbar style */
::-webkit-scrollbar{
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: black;
    border-radius: 9999px;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-thumb:vertical{
    background: black;
    border-radius: 9999px;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-track {
    background: hsl(var(--b3, var(--b1)) / var(--tw-bg-opacity));
    border-radius: 9999px;
}



.crisp-canvas{
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}